################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaleAndInventoryWeb_MVC/.vs/SaleAndInventoryWeb_MVC/v15/Server/sqlite3
